- model_class = Episode
%table.table.table-striped
  %thead
    %tr
      %th #
      %th TV Series
      %th season
      %th episode
      %th last updates
      %th 
  %tbody
    - @episodes.each do |episode|
      %tr
        %td= link_to episode.id, episode_path(episode)
        %td= link_to episode.name, episode_path(episode)
        %td= episode.last_season
        %td= episode.last_episode
        %td= episode.updated_at.to_datetime.strftime "%d.%m.%Y %I:%M %p"
        %td
          /= link_to t('.edit', :default => t("helpers.links.edit")), edit_episode_path(episode), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), episode_path(episode), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

/= link_to t('.new', :default => t("helpers.links.new")), new_episode_path, :class => 'btn btn-primary'
