
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <h2 class="text-center">Welcome</h2>
    <br/>
    <%=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="input-group">
          <span class="input-group-addon ">
            <div class= 'fa fa-envelope fa-lg' ></div>
          </span>
          <%= f.email_field :email,  class: 'form-control', placeholder: 'Email', autofocus: true %>
        </div>

        <br/>
        <div class="input-group">
          <span class="input-group-addon ">
            <div class= 'fa fa-key fa-lg' ></div>
          </span>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'%>
        </div>

      <br/>
      <% if devise_mapping.rememberable? -%>
        <div class="field text-center">
          <%= f.check_box :remember_me %>
          <label class="control-label">Remember me</label>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in",  class: 'btn btn-success btn-block upper'%>
      </div>
    <% end %>
    <div class="text-center">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>