!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "MovieMan"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/") MovieMan
        .navbar-collapse.collapse.navbar-responsive-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li= link_to "TV series", "/"
              /%li= link_to "Subscribes", "/subscribes"
              %li
            %form.navbar-form.navbar-left{action: "/episodes/search",method: :get, role: "search"}
              .form-group
                %input.form-control.input.input-sm{placeholder: 'search series', type: 'text', name: 'search'}/
              %button.btn.btn-sm.btn-default{type: "submit"} search              
            %ul.nav.navbar-nav.navbar-right
              %li= link_to current_user.email, "#"
              %li= link_to '<span class="glyphicon glyphicon-edit"></i>'.html_safe, edit_user_registration_path, :class => 'navbar-link'
              %li= link_to '<span class="glyphicon glyphicon-log-out"></i>'.html_safe, destroy_user_session_path, method: :delete, :class => 'no_ajaxify navbar-link'


    .container
      = bootstrap_flash
      = yield
        